body {
    text-align: center;
}

table {
    margin: auto;
}

table, tr, th {
    border: 1px double black;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #e6349c;
}

